* {
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}

h1 {
    text-align: center;
}

body{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 0.2fr 2fr  0.2fr 0.2fr;
    grid-template-areas: 
        "header header"
        "genre billboard-liked"
        "genre billboard-criticized"
        "footer footer";
}

/*----Nav----*/

.logotipo{
    width: 170px;
    position: relative;
    right: 250px;
    top: 9px;
}
nav{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}
.buscador{
    width: 330px;
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: row;
}
input{
    text-align: center;
    height: 30px;
    border-radius: 20px;
    width: 230px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-color: #380ba7;
    border-style: solid;
}
.search-button{
    height: 33px;
    width: 100px;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-color: #380ba7;
    border-style: solid;
}
li{
    display: inline-block;
}
.imgs{
    left:290px;
    width: 42px;
    position: relative;
    bottom: 60px;
    padding: 1px 7px;
    border-radius: 50px;
    transition: transform 0.5s ease-in-out;
}

header {
    background-image: linear-gradient(to right, #5b1df9,#27252e,#15131a,#050408, black);
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
    border-color: #5e1fff;
    border-width: 2px;
    grid-area: header;
}

button{
    background-color: #5e1fff;
    color: white;
}

button:hover{
    background-color: #d4d0ff;
    cursor: pointer;
    color: black;
}

.imgs:hover{
    box-shadow: 0 0 10px 3.5px #5b1df9;
    transform: scale(1.15);
    cursor: pointer;
}

/* -----Main container----- */
.container {
    display: grid; 
    grid-template-areas: 
        "genre billboard-liked"
        "genre billboard-criticized";
    padding: 20px;
    max-width: 1200px;
    min-height: 750px;
}


/* -----Aside - genre----- */
.genre {
    display: grid;
    /*border: 2px #380ba7;*/
    border-radius: 10px;
    margin:35px 40px ;
    padding: 10px;
    border: 2px;
    background-image: linear-gradient( #65569c,#5c3cad,#59458b,#372c58, black);
    box-shadow: 0 2px 6px;
    width: 150px;
    height: 600px;
    float: left;
    grid-area: genre;
}


.button-genre {
    margin: 10px 5px 0 0;
    font-size: 18px;
    border: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #d0d2e7;
    color: rgba(0, 0, 0, 0.865);
    width: 150px;
    height: auto;
}


.button-genre:hover{
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px 3.5px ;
    transform: scale(1.05);
}


/* -----Section results billboard----- */
#billboard-liked{
    grid-area: billboard-liked;
}

#billboard-criticized{
    grid-area: billboard-criticized;
}

.billboard-image {
    width: 200px;
    height: auto;
    padding: 10px 25px;
}

.billboard-image:hover {
    cursor: pointer;
    background: linear-gradient(#7157ce, #9198e5, #8289db);
    /*background: linear-gradient(#7e61e4, #9198e5);;*/
    box-shadow: 0 0 10px 3.5px ;
    transform: scale(1.05);
}

.billboard-liked,
.billboard-criticized {
    background-color: #e8e6ff;
    border: 4px  #380ba7;
    box-shadow: 0 2px 6px black;
    border-radius: 10px;
    padding: 10px;
    width: 940px;
    height: 230px;
    margin: 10px;
}


.billboard-liked,
.billboard-criticized {
    display: grid;
    grid-template-rows: auto;
    overflow-x: auto;
    /* allows horizontal scrolling */
    overflow-y: hidden;
    white-space: nowrap;
    /* Prevents elements from being wrapped to a new line */
}

/* -----footer------ */
footer {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: black;
    color: #f3f1ff;
    padding: 10px 20px;
    position: relative;
    font-weight: 400;
    font-style: normal;
    border-top-style: solid;
    border-color: #5e1fff;
    border-width: 2px;
    grid-area: footer;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px; 
    border-bottom: 1px solid #666666; 
    padding: 10px;
}

.footer-link {
    text-decoration: none;
    color: #f3f1ff;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.footer-link:hover {
    text-decoration: underline;
    transform: scale(1.15);
}

.footer-link img {
    width: 25px;
    height: 25px;
    border-radius: 30%;
    margin-right: 10px;
}

.footer-link:first-child {
    justify-self: start;
}

.footer-link:last-child {
    justify-self: end;
}

.reserved {
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 8px;
}

/* Media Queries

/* pantallas pequeñas (hasta 320px) */
@media (max-width: 430px) {
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:auto;
        grid-template-areas: 
            "header"
            "billboard-liked"
            "billboard-criticized"
            "footer";
        box-sizing: border-box;
        width: fit-content;

    }
    header {
        box-sizing: border-box;
        height: 30px;
        width: 100%;
    }
    header nav {
        display: none;
    }
    

    header .buscador {
        display: none;
    }

    header ul {
        display: none;
    }

    .container {
        width: 100%;
        padding: 5px;
        grid-template-areas: 
        "billboard-liked"
        "billboard-criticized";
    }

    .container .genre {
        display: none;
    }

    .container .billboard-liked{
        margin: auto;
        width: 100%;
        padding: 0;
    }

    .container .billboard-criticized{
        margin: auto;
        width: 100%;
        padding: 0;
    }

    footer .footer-content {
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
    }

    .footer-link:last-child {
        margin-top: -45px;
    }

    footer{
        margin-top: 230px;
    }
}

/* pantallas pequeñas (hasta 600px) */
@media (max-width: 600px) {
    body{
        width: fit-content;
    }
    header {
        height: 30px;
        width: 100%;
    }
    header nav {
        display: none;
    }


    header .buscador {
        width: 50%;
        margin-bottom: 10px; 
    }

    header ul {
        display: none;
    }

    .container {
        width: 100%;
        padding: 5px;
        grid-template-areas: 
        "billboard-liked"
        "billboard-criticized";
    }

    .container .genre{
        display: none;
    }

    .container .billboard-liked {
        max-width:500px;
        margin: 0 auto;
        padding: 0;
    }

    .container .billboard-criticized {
        max-width:500px;
        margin: 0 auto;
        padding: 0;
    }

    footer .footer-content {
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
    }

    .footer-link:last-child {
        margin-top: -45px;
    }
}

/* pantallas medianas (601px a 1200px) */
@media (min-width: 601px) and (max-width: 1200px) {
    body{
        width: fit-content;
    }
    header nav {
        display: none;
    }

    .container {
        width: 70%;
        margin: 0 auto;
    }

    .container .billboard-liked {
        max-width:500px;
        margin: 0 auto;
        padding: 0;
    }

    .container .billboard-criticized {
        max-width:500px;
        margin: 0 auto;
        padding: 0;
    }

    .logotipo{
        width: 20px;
        position: relative;
        right: 250px;
        top: 5px;
    }
}