/*We eliminate the margins and paddings that the browser adds by default*/
* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2 {
    text-align: center;
    margin-top: 1px;
}

/*----Nav----*/

.logotipo {
    /* background-color: black;  */
    width: 170px;
    position: relative;
    right: 250px;
    top: 9px;
}

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.buscador {
    width: 330px;
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: row;
}

input {
    text-align: center;
    height: 30px;
    border-radius: 20px;
    width: 230px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-color: #380ba7;
    border-style: solid;
}

.search-button {
    height: 33px;
    width: 100px;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-color: #380ba7;
    border-style: solid;
}

li {
    display: inline-block;
}

.imgs {
    left: 290px;
    width: 30px;
    position: relative;
    bottom: 60px;
    padding: 0 8px;
}

header {
    background: black;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
    border-color: #5e1fff;
    border-width: 2px;
}

h3 {
    color: #5e1fff;
    font-size: 22px;
    position: relative;
    left: 20px;
    top: 10px;
}

button {
    background-color: #5e1fff;
    color: white;
}

button:hover {
    background-color: #d4d0ff;
    cursor: pointer;
}

.imgs:hover {
    background-color: #e8e6ff;
    cursor: pointer;
}

/* -----Main container----- */
.container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 1300px;
}


/* -----Aside - genre----- */
.genre {
    border: 2px solid #380ba7;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    background-color: #e8e6ff;
    bottom: 5px;
    width: 150px;
    float: left;
}


.button-genre {
    list-style: none;
    margin: 10px 5px 0 0;
    font-size: 20px;
    border: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #380ba7;
    width: 150px;
    float: left;
}


.button-genre {
    display: flex;
    justify-content: center;
}


/* -----Section results billboard----- */


.billboard-image {
    width: 200px;
    height: auto;
    margin: 100 px;
    padding: 10px 25px;
}


.billboard-image:hover{
    cursor: pointer;
    background-color: #d4d0ff;
    border-radius: 10px;
}

.billboard-liked,
.billboard-criticized {
    background-color: #e8e6ff;
    border: 2px solid #380ba7;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    width: 940px;
    height: 230px;
    /* Allows the height to be automatically adjusted to maintain proportion. */
    margin: 10px;
    float: left;
}


.billboard-liked,
.billboard-criticized {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* allows horizontal scrolling */
    overflow-y: hidden;
    white-space: nowrap;
    /* Prevents elements from being wrapped to a new line */
    margin-bottom: 25px;
}

/* -----footer------ */
footer {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: black;
    color: #f3f1ff;
    padding: 10px 20px;
    position: relative;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    border-bottom: 1px solid #666666;
    padding: 10px;
}

.footer-link {
    text-decoration: none;
    color: #f3f1ff;
    display: flex;
    align-items: center;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link img {
    width: 25px;
    height: 25px;
    border-radius: 30%;
    margin-right: 10px;
}

.footer-link:first-child {
    justify-self: start;
}

.footer-link:last-child {
    justify-self: end;
}

.reserved {
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 8px;
}

@media screen and (max-width:1139px) {
    .container {
        width: 100%;
    }

    .genre {
        width: 20%;
    }

    .button-genre {
        width: 19%;
    }

    .billboard-liked,
    .billboard-criticized {
        width: 80%;
    }
}


@media screen and (max-width:1000px) {
    .genre {
        width: 100%;
    }

    .billboard-liked,
    .billboard-criticized {
        width: 100%;
    }
}