* {
    padding: 0;
    margin: 0;
}

h1 {
    width: 300px;
    grid-area: title;
    font-family: "Bebas Neue", sans-serif;
    font-size: 12px;
    display: flex;
    color: #c2bbbb;
    margin-left: 30px;
    margin-bottom: 5px;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-top: 0;
    color: white;
}

/*---Container -Main ---*/
.container{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-areas: 
    "title title"
    "genre article-liked"
    "genre article-criticized"
    "genre article-new-releases";
}

/*---Genre - aside---*/
.genre {
    grid-area: genre;
    width:60%;
    height: 600px;
    margin-left: 15px;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 6px;
    box-sizing: border-box;
    background-image: linear-gradient(#65569c, #5c3cad, #59458b, #372c58, black);
}

.genre ul {
    list-style: none;
}

.button-genre {
    display: flex;
    width: 100%;
    height: auto;
    margin: 6px 5px 0 0;
    font-size: 18px;
    border: 10px;
    border-radius: 5px;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    background-color: #d0d2e7;
    color: rgba(0, 0, 0, 0.865);
}

.button-genre:hover {
    box-shadow: 0 0 10px 3.5px;
    transform: scale(1.00);
}

.billboard{
    width: 940px;
    border: 4px #380ba7;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 6px black;
    background-image: linear-gradient(#65569c, #5c3cad, #59458b, #372c58, black);
    box-sizing: border-box;
}

.billboard-image {
    width: 200px;
    height: auto;
    padding: 10px 25px;
}

.billboard-image:hover {
    cursor: pointer;
    background: linear-gradient(#cac4dd, #9198e5, #8289db);
    box-shadow: 0 0 10px 3.5px;
    transform: scale(1.05);
}

.article-liked,
.article-criticized,
.article-new-releases{
    grid-area: article-liked;
    grid-area: article-criticized;
    grid-area: article-new-releases;
    width: 98%;
    height: auto;
    margin: 10px;
    overflow-y: hidden;
}

.article-liked figure,
.article-criticized figure,
.article-new-releases figure{
    display: flex;
}

footer{
    margin-top: 10px;
}

/* ---Media query--- */
@media (max-width:480px) {
    .container{
        display: grid;
        grid-template-columns: 0.8fr;
        grid-template-areas: 
        "title"
        "genre" 
        "article-liked"
        "article-criticized"
        "article-new-releases";
        gap: 10px;
    }    
    .genre{
        width: 10%;
        height: auto;
        margin-left: 30px;
    }
    .category{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        gap: 3px;
        margin-left: 30px;
    }
    .billboard{
        margin-left: 30px;
        width: 10%;
    }
}

@media (min-width:481px) and (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 0.8fr;
        grid-template-areas: 
        "title"
        "genre" 
        "article-liked"
        "article-criticized"
        "article-new-releases";
        gap: 10px;
    }    
    .genre{
        width: 16%;
        height: auto;
        margin-left: 30px;
    }
    .category{
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        gap: 3px;
        margin-left: 30px;
    }
    .billboard{
        margin-left: 30px;
        width: 16%;
    }
}

@media (min-width : 601px) and (max-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 0.8fr;
        grid-template-areas: 
        "title"
        "genre" 
        "article-liked"
        "article-criticized"
        "article-new-releases";
        gap: 10px;
    }
    .genre{
        width: 22%;
        height: auto;
        margin-left: 30px;
    }
    .category{
        display: grid;
        grid-template-columns: repeat(4, 0.4fr);
        grid-template-rows: repeat(4, auto);
        gap: 3px;
        margin-left: 30px;
    }
    .billboard{
        margin-left: 30px;
        width: 22%;
    }
}

@media (min-width: 769px) and (max-width: 1050px) { 
    .billboard{
        width: 600px;
    }
    .genre{
        min-width: 75%;
    }
    .button-genre{
        min-width: 91px;
    }
}