* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    "billboard register";
    font-family: "Kanit", sans-serif;
    background-color: #f5f5f5;
    transition: background-color 0.5s ease;
}
.container{
    grid-area: register;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Contenedor de registro */
.register-container {
    width: 300px;
    height: 510px;
    background-color: #e8e6ff;
    border: 2px solid #380ba7;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    box-shadow: 0 2px 6px black;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    
}


.register-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px black;
}

.source-register {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    bottom: 70px;
}

.button-pass, .button-register {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-pass:hover, .button-register:hover {
    background-color: #5731d5;
    transform: scale(1.1);
}

.name, .password {
    text-align: left;
    border-radius: 5px;
    border-color: #380ba7;
    border-style: solid;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.name:focus, .password:focus {
    box-shadow: 0 0 8px rgba(56, 11, 167, 0.5);
}

.logotype {
    position: relative;
    bottom: 80px;
    height: 200px;
    padding-left: 30px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

hr {
    width: 80%;
    color: black;
    margin-bottom: 50px;
    margin-top: 20px;
}
.billboard{
    grid-area: billboard;
    display: grid;
}

/* Secciones Billboard */
.billboard-liked, .billboard-criticized {
    background-color: #e8e6ff;
    border: 2px solid #380ba7;
    box-shadow: 0 2px 6px black;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    height: 230px;
    margin: 50px;
    margin-top: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    transition: transform 0.5s ease;
}


.billboard-liked:hover, .billboard-criticized:hover {
    transform: translateY(-10px);
}

.billboard-image {
    width: 185px;
    height: auto;
    margin: 10px;
    padding: 10px 25px;
    transition: transform 0.3s ease;
}

.billboard-image:hover {
    transform: scale(1.1);
}


/* Media Queries */

/* Break para pantalla chica hasta 480px */
@media (max-width: 480px) and (max-width: 600px) {
    body {
        grid-template-areas: 
        "register" ;
        
    }
    .register-container {
        grid-area: register;
        width: 90vw;
        margin: 0 auto;
        margin-top: 10%;
        inset:0;
        margin-right: 10%
    }
    .source-register{
        display:grid;
        align-items: center;
        
    }
    hr,.button-pass{
        margin: 0 auto;
    }
    
    .billboard-liked, .billboard-criticized {
        display:none
    }
    

}

/**break para pantalla chica hasta 320px*/

@media screen and (max-width: 320px) {
    body {
        grid-template-areas: 
        "register"
    }
    
    .register-container {
        grid-area: register;
        width: 90vw;
        height: 95vh;
        margin: 0 auto;
        inset:0;
        margin-top: 5%;
        margin-right: 10%;

    }
    
    .source-register{
        display:grid;
        align-items: center;
        
    }
    .name, .password{
        width: 90%;
        margin-left:12px ;

    }
    .no-account{
        margin-left: 12px;
    }
    
    hr,.button-pass{
        margin: 0 auto;
    }
    
    .billboard-liked, .billboard-criticized {
        display:none
    }    
}

@media (min-width: 600px) and (max-width: 1150px) {
    body {
        grid-template-areas: 
        "register"
    }
    
    .register-container {
        grid-area: register;
        width: 90vw;
        margin-right: 40px;
        margin-top: 20%;
    }
    .logotype{
        width: 500px;
        margin-left: 5px;
        
    }

    .name, .password{
        width: 400px;
    }
    
    .button-pass{
        width: 300px;
    }

    .no-account{
        margin-left: 120px;
    }
    .billboard-liked, .billboard-criticized {
        display:none
        
    }
    
@media (min-width: 1200px){
    body {
        grid-template-areas: 
        "liked register"
        "criticized register "
        
        }
    
        
        .register-container {
            width: 25%;
            left: -65%;
            margin-top: 5%;
            grid-area: register;
        }
    
        .source-register {
    
            width: 80%;
            margin-right: 30px;     
        }
        
        
        .billboard-liked, .billboard-criticized {
            
            width: 60%;
            display:flex;
            flex-direction:row;
            margin-top: 4.2%;
            left:50px;
        }    
        
        
        .billboard-liked{
            grid-area:liked;
        }
        
        .billboard-criticized{
            grid-area: criticized;
        }
        
        .no-account{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin:0 auto;
        }
}



}
