* {
  margin: 0;
  padding: 0;
}
body.dark{
  background-color: #121212  ;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "billboard register";
  font-family: "Kanit", sans-serif;
  transition: background-color 0.5s ease;
  margin-left: 30px;
}

/*main.dark{
  background-color: #121212;
}*/
.container {
  grid-area: register;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

aside{
  margin-bottom: 20px;
}
/* ----------Contenedor de registro---------- */
.register-container {
  grid-area: aside;
  width: 300px;
  height: 570px;
  margin-top: 70px;
  background-color: #ffff;
  border: 1px solid #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-shadow: 0 2px 6px black;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.dark .register-container{
  background: #212E36;
  color: white;
}
input {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}

.dark input{
  background: #212E36;
  color: white;
}


.source-register {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 70px;
}

.no-account {
  font-family: "kanit", sans-serif;
  margin-left: 5px;
}

.button-register {
  font-family: "Kanit", sans-serif;
  padding: 8px;
  box-shadow: 0 0 10px 3.5px #5b1df9;
  background-color: #380ba7;
  color: white;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  width: 25px;
  text-decoration: none;
}
.button-pass {
  font-family: "Kanit", sans-serif;
  padding: 10px;
  box-shadow: 0 0 10px 3.5px #5b1df9;
  background-color: #380ba7;
  color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  width: 225px;
}
.button-pass::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.4s;
}

.button-pass:hover::before {
  left: 100%;
  cursor: pointer;
}

.button-pass:hover {
  background-color: #380ba7;
  transform: scale(1.05);
}

.register-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px black;
}

.button-pass,
.button-register {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-pass:hover,
.button-register:hover {
  background-color: #5731d5;
  transform: scale(1.1);
}

.name:focus,
.password:focus {
  box-shadow: 0 0 8px rgba(56, 11, 167, 0.5);
}

/*------> IMAGES CONTAINER <------*/
.img-container{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}
.logotype {
  height: 200px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  margin-left: 25px;
}
.imgs{
  width: 30px;
  margin-top: 2px;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


h3,
h2 {
  color: #380ba7;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.dark h3 {
  color: rgb(172, 70, 240);
}
.dark h3 {
  color: rgb(172, 70, 240);
}


/**break para pantalla chica hasta 320px*/

@media screen and (min-width: 320px) and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  aside {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 20px;
    margin-right: 10px;
  }
  .register-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  .no-account {
    display: flex;
    align-items: center;
  }
  .button-register {
    width: 100px;
    text-align: center;
    margin-left: 40px;
  }
  label {
    font-size: 13px;
    margin-left: 10px;
  }
  .logotype {
    margin: 0 ;
  }
  .img-container{
    margin-left: 10px;
  }
} 

@media (min-width: 601px) and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  .container {
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
  }
  .register-container {
    margin-top: 5px;
    width: 65%; 
  }
}
@media (min-width: 769px) and (max-width: 1050px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 200px;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .container {
    width: 100%;
    margin-top: 20px;

  }
  .register-container {
    margin-top: 5px;
    margin-right: 100px;
    width: 100%;
  }
}
@media (min-width: 1050px) and (max-width: 1200px) {
  body {
    height: max-content;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 70px;
  }
  .container {
    width: 100%;
    margin-top: 20px;
  }
  .register-container {
    margin-top: 5px;
    width: 50%;
  }
}
