* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "new-post"
        "footer";
        min-height: 100vh;
    font-family: 'Kanit', sans-serif;
}



/*----Nav----*/

/* .logotipo {
    width: 170px;
    position: relative;
    right: 250px;
    top: 9px;
} */

/* nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
} */

/* .buscador {
    width: 330px;
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: row;
} */

/* input {
    text-align: center;
    height: 30px;
    border-radius: 20px;
    width: 230px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    border: solid 1px #380ba7;
} */

/* .search-button {
    height: 33px;
    width: 100px;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    border: solid 1px #380ba7;
} */

/* .image-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
} */

/* .image-links li{
    list-style: none;
} */

/* .imgs {
    left: 270px;
    width: 30px;
    position: relative;
    bottom: 60px;
    padding: 1px 7px;
    border-radius: 50px;
    transition: transform 0.5s ease-in-out;

} */

/* header {
    grid-area: header;
    background-image: linear-gradient(to right, #5b1df9, #27252e, #15131a, #050408, black);
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #5e1fff;
} */

/* h3 {
    color: #5e1fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    left: 20px;
    top: 10px;
} */

/* button {
    background-color: #5e1fff;
    grid-template-columns: 30% auto;
    color: white;
} */

/* button:hover {
    background-color: #d4d0ff;
    cursor: pointer;
} */

/* .imgs:hover {
    box-shadow: 0 0 10px 3.5px #5b1df9;
    transform: scale(1.15);
    cursor: pointer;
} */

/* Navbar Responsive */

/* .icons {
    font-size: 2.8rem;
    color: #5e1fff;
    cursor: pointer;
    display: none;
    
    position: absolute;
    right: 20px;
    top: 20px;
} */

/* links texto */
/* .text-links {
    display: none;
    
} */

/* .text-links li {
    display: block;
    margin: 10px 0;
} */

/* .text-links li a {
    color: #1f075c;
    text-decoration: none;
    font-size: 18px;
} */
/* ----- Main ----- */

.new-post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    gap: 10px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #5e1fff, #380ba7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    grid-area: new-post;
}

.title {
    box-shadow: 0 0 10px 3.5px #5b1df9;
    width: 100%;
    border: 2px solid #380ba7;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff;
    color: #380ba7;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    animation: fadeInUp 1s ease-in-out;
    box-sizing: border-box;
}

.post-format {
    display: flex;
    justify-content: space-between;
    border: 2px solid #380ba7;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    animation: fadeInUp 1.2s ease-in-out;
    background-color: #fff;
}

.post-format img {
    width: 40px;
    height: 35px;
    transition: transform 0.5s ease-in-out;
}

.post-format img:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.post textarea {
    width: 100%;
    height: 200px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    border: 2px solid #380ba7;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px 3.5px #5b1df9;
    background-color: #fff;
    color: #380ba7;
    padding: 10px;
    box-sizing: border-box;
    animation: fadeInUp 1.4s ease-in-out;
    resize: vertical;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px; 
    margin-top: 10px;
    animation: fadeInUp 1.6s ease-in-out;
}

.preview, .share {
    text-align: center;
    box-shadow: 0 0 10px 3.5px #5b1df9;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-family: "Kanit", sans-serif;
    background-color: #380ba7;
    position: relative;
    overflow: hidden;
}

.preview::before, .share::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.4s;
}

.preview:hover::before, .share:hover::before {
    left: 100%;
}

.preview:hover, .share:hover {
    background-color: #380ba7;
    transform: scale(1.05);
}

/* -----footer------ */

/* footer {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    color: #f3f1ff;
    padding: 10px 20px;
    position: relative;
    font-weight: 400;
    font-style: normal;
    border-top-style: solid;
    border-color: #5e1fff;
    border-width: 2px;
    grid-area: footer;
} */

/* .footer-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px; 
    border-bottom: 1px solid #666666; 
    padding: 10px;
} */

/* .footer-link {
    text-decoration: none;
    color: #f3f1ff;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
} */

/* .footer-link:hover {
    text-decoration: underline;
    transform: scale(1.15);
} */

/* .footer-link img {
    width: 25px;
    height: 25px;
    border-radius: 30%;
    margin-right: 10px;
} */

/* .footer-link:first-child {
    justify-self: start;
} */

/* .footer-link:last-child {
    justify-self: end;
} */

/* .reserved {
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 8px;
} */

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* ---MEDIA QUERIES---- */

@media (max-width: 500px) {
    .logotipo {
        left: -80px;
    }
}


@media (max-width: 700px) {
    
    header {
        width: 100%;
        height: 80px;
    }

    .logotipo{
        right: 200px;
        top: 5px;
        position: relative;
    }

    .buscador {
        display: none;
    }

    .image-links {
        display: none;
    }

    /* -------BURGER------- */

    .text-links {
        display: none;
    }

    .icons {
        display: block;
        position: absolute;
    }

    .text-links.active {
        display: block;
        position: absolute;
        border: solid 1px #5418eb;
        background-color: hsla(0, 4%, 5%, 0.322);
        top: 95px;
        right: 40px;
        width: 200px;
        text-align: center;
        z-index: 1000;
    }
    .text-links.active li {
        margin: 10px 0;
    }
    
    .text-links.active li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    
    .text-links.active li a:hover {
        color: #380ba7;
        text-decoration: underline;
    }

    .post {
        height: 160px;
    }

    .new-post {
        height: 420px;
        width: 98%;
        top: 0px;
        /* padding: 10px; */
        /* gap: 20px; */
        position: relative;
        display: grid;
        place-items: center;
        
    }

    .title{
        width: 90%;
        font-size: 20px;
        position: relative;
    }

    .post-format {
        width: 260px;
        flex-direction: row;
        gap: 2px;
        position: relative;
    }

    .post textarea {
        width: 100%;
        font-size: 20px;
        height: 150px;
        position: relative;
        
    }

    .buttons {
        flex-direction: column;
        gap: 5px;
        position: relative;
        
    }

    .preview, .share {
        width: 270px;
        font-size: 16px;
    }
    .post-format img {
        width: 20px;
        height: 30px;
    }
}

@media (min-width: 701px) and (max-width: 1150px){

    header {
        width: 100%;
        height: 80px;
    }

    .logotipo{
        right: 260px;
        top: 10px;
    }

    .buscador {
        display: none;
    }

    .image-links {
        display: none;
    }

/* --------burger------ */

    .text-links {
        display: none;
    }

    .icons {
        display: block;
        top: center;
        left: left;
    }

    .text-links.active {
        display: block;
        position: absolute;
        border: solid 1px #fff;
        background-color: hsla(0, 4%, 5%, 0.322);
        top: 95px;
        right: 30px;
        width: 200px;
        text-align: center;
        z-index: 1000;
    }
    .text-links.active li {
        margin: 10px 0;
    }
    
    .text-links.active li a {
        color: #7b1dff;
        text-decoration: none;
        font-size: 18px;
    }
    
    .text-links.active li a:hover {
        color: #380ba7;
        text-decoration: underline;
    }

    input {
        width: 70%;
    }

    .search-button {
        width: 30%;
    }

    .new-post {
        width: 90%;
        max-width: none;
        padding: 15px;
    }

    .title {
        font-size: 18px;
    }

    .post textarea {
        font-size: 18px;
        height: 150px;
    }

    .post-format {
        flex-direction: row;
        gap: 10px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .preview, .share {
        width: 100%;
        font-size: 18px;
    }
}
