* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "new-post"
        "footer";
        min-height: 100vh;
    font-family: 'Kanit', sans-serif;
}
body.dark{
    background-color: #121212;
}


/* ----- Main ----- */
/* header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
} */


.new-post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    gap: 10px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #5e1fff, #380ba7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    grid-area: new-post;
}
.dark .new-post{
    background: #212E36;
}
.title {
    width: 100%;
    border: 2px solid #380ba7;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff;
    color: #380ba7;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    animation: fadeInUp 1s ease-in-out;
    box-sizing: border-box;
}

.dark .title{
    background: #171920;
    color: white;
}

.post-format {
    display: flex;
    justify-content: space-between;
    border: 2px solid #380ba7;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    animation: fadeInUp 1.2s ease-in-out;
    background-color: #fff;
}

.dark .post-format{
    background: #171920;
}

.post-format img {
    width: 40px;
    height: 35px;
    transition: transform 0.5s ease-in-out;
}

.post-format img:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.post textarea {
    width: 100%;
    height: 200px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    border: 2px solid #380ba7;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #fff;
    color: #380ba7;
    padding: 10px;
    box-sizing: border-box;
    animation: fadeInUp 1.4s ease-in-out;
    resize: vertical;
}
.dark textarea{
    background: #171920;
    color: white;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px; 
    margin-top: 10px;
    animation: fadeInUp 1.6s ease-in-out;
}

.preview, .share {
    text-align: center;
    box-shadow: 0 0 10px 3.5px #5b1df9;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-family: "Kanit", sans-serif;
    background-color: #380ba7;
    position: relative;
    overflow: hidden;
}

.preview::before, .share::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.4s;
}

.preview:hover::before, .share:hover::before {
    left: 100%;
}

.preview:hover, .share:hover {
    background-color: #380ba7;
    transform: scale(1.05);
}



/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* ---MEDIA QUERIES---- */

@media (min-width: 320px) and (max-width: 600px){
    .new-post {
        width: 90%;
        max-width: none;
        padding: 15px;
        height: 80%;
    }

    .title {
        font-size: 18px;
    }

    .post textarea {
        font-size: 18px;
        height: 180px;
    }

    .post-format {
        flex-direction: row;
        gap: 10px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .preview, .share {
        width: 100%;
        font-size: 18px;
    }
}
@media (min-width: 601px) and (max-width: 768px){
    .new-post {
        width: 95%;
        max-width: none;
        padding: 15px;
        height: 85%;
    }

    .title {
        font-size: 18px;
    }

    .post textarea {
        font-size: 18px;
        height: 150px;
    }

    .post-format {
        flex-direction: row;
        gap: 10px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .preview, .share {
        width: 100%;
        font-size: 18px;
    }
}
@media (min-width: 769px) and (max-width: 1050px){
    .new-post {
        width: 95%;
        max-width: none;
        padding: 15px;
        height: 85%;
    }

    .title {
        font-size: 18px;
    }

    .post textarea {
        font-size: 18px;
        height: 150px;
    }

    .post-format {
        flex-direction: row;
        gap: 10px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .preview, .share {
        width: 100%;
        font-size: 18px;
    }
}


@media (min-width: 1050px) and (max-width: 1200px){
    .new-post {
        width: 95%;
        max-width: none;
        padding: 15px;
        height: 85%;
    }

    .title {
        font-size: 18px;
    }

    .post textarea {
        font-size: 18px;
        height: 150px;
    }

    .post-format {
        flex-direction: row;
        gap: 10px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .preview, .share {
        width: 100%;
        font-size: 18px;
    }
}
