/* Eliminamos los margenes y paddings que agrega el navegador por defecto */
* {
  padding: 0;
  margin: 0;
}

/* -----------Tittles---------- */
h1 {
  grid-area: aside;
  font-size: 9px;
  display: flex;
  color: #c2bbbb;
  width: auto;
  margin-bottom: 5px;
  margin-left: 30px;
}
h3, h2 {
  color: #380ba7;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 22px;
  /* position: relative;
  left: 20px;
  top: 10px; */
}
.dark h2{
  color: rgb(172, 70, 240);
}
.dark h3{
  color: rgb(172, 70, 240);
}
/* -----------Body grid---------- */
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 20px;
  height: 100vh;
  grid-template-areas:
      "header header"
      "main main"
      "footer footer";
}

body.dark{
  background-color: #121212;
}

header {
  grid-area: header;
}

/*-------- Aside -----------*/

.information-profile-container {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  gap: 30px;
  height: fit-content;
  width: 350px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #5e1fff, #380ba7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  animation: fadeIn 1s ease-in-out;
  grid-area: aside;
}
.dark .information-profile-container{
  background: #212E36;
}
.information-profile-container:hover {
  transform: translateY(-10px);
}

.profile-container,
.friends-container,
.communities-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}
.dark .profile-container{
  background: #171920;
}
.dark .friends-container{
  background: #171920; 
}
.dark .communities-container{
  background: #171920; 
}

.profile-icono,
.friends-icono {
  padding-left: 20px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.profile-icono:hover,
.friends-icono:hover {
  transform: scale(1.1);
}
.information-profile-container {
  animation: fadeIn 1s ease-in-out;
}

.profile-container,
.friends-container,
.communities-container {
  animation: slideIn 0.5s ease-in-out;
}

/* ----------Main container------ */

.main-container{
  display: grid;
  grid-template-columns:  auto;
  grid-template-rows: 1fr auto;  
  grid-template-areas: 
  "aside watchlist"
  "aside watchlist";
  margin-top: 30px;
  grid-area: main;

}

.main-billboard-container {
  grid-area: watchlist;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #5e1fff, #380ba7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  animation: fadeIn 1s ease-in-out;
}

.dark .main-billboard-container{
  background: #212E36;
}

.main-billboard-container:hover {
  transform: translateY(-10px);
}

.billboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.watchlist-container,
.ratings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.dark .watchlist-container{
  background: #171920;
}
.dark .ratings-container{
  background: #171920;
}

.billboard-liked {
  width: 700px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  }

.billboard-image {
  width: 120px;
  height: auto;
  padding: 10px 25px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.billboard-image:hover {
  cursor: pointer;
  background: linear-gradient(#d4d0ff, #5e1fff);
  transform: scale(1.1);
  border-radius: 10px;
}

.button-watchlist,
.rating-button {
  font-family: "Kanit", sans-serif;
  text-align: center;
  box-shadow: 0 0 10px 3.5px #5b1df9;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: #380ba7;
  position: relative;
  overflow: hidden;
}

.button-watchlist::before, .rating-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.4s;
}

.button-watchlist:hover::before, .rating-button:hover::before {
  left: 100%;
}

.button-watchlist:hover,
.rating-button:hover {
  background-color: #380ba7;
  transform: scale(1.05);
}

/* ------Footer----- */
footer {
  grid-area: footer;
}

/* Animaciones */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

/* -------------media queries------------ */
@media (max-width:480px) {
  .information-profile-container{
    margin: 20px 40px;
    width: 60%;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-billboard-container{
    width: 60%;
    margin: 20px 40px;
  }
  .watchlist-container,
  .ratings-container {
    width: 50%;
    padding: 40px;
    }
  .billboard-liked {
    width: 120px;
    }
  
}

@media (min-width:481px) and (max-width: 600px){
  /* Container */
  .information-profile-container{
    margin: 20px 40px;
    width: 60%;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-billboard-container{
    width: 60%;
    margin: 20px 40px;
  }
  .watchlist-container,
  .ratings-container {
    width: 50%;
    padding: 70px;
    }
  .billboard-liked {
    width: 200px;
    }
}

@media (min-width : 601px) and (max-width: 768px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .information-profile-container{
    margin: 20px 40px;
    width: 80%;
  }
  .main-billboard-container{
    margin: 20px 40px;
    width: 80%;
  }
  .billboard-liked {
    width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1050px) { 
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .information-profile-container{
    margin: 20px 40px;
    width: 70%;
  }
  .main-billboard-container{
    margin: 20px 40px;
    width: 70%;
  }
   .billboard-liked {
     width: 400px; 
   }
     
}
